@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6n5o0y');
  src:  url('fonts/icomoon.eot?6n5o0y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6n5o0y') format('truetype'),
    url('fonts/icomoon.woff?6n5o0y') format('woff'),
    url('fonts/icomoon.svg?6n5o0y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e907";
}
.icon-burger:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-right:before {
  content: "\e904";
}
.icon-telegram:before {
  content: "\e905";
}
.icon-x:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\ea9d";
}
